@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

button {
  padding: 15px 25px 15px 25px;
  border-radius: 50px;
  border-style: none;
  background: linear-gradient(175deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.47);
  color: white;
  cursor: pointer;
}
button:hover {
  background: linear-gradient(175deg, #fface8 0%, #ae80e5 100%);
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.47);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333333;
  padding-left: 25px;
  padding-bottom: 35px;
  margin-top: 80px;
  gap: 15px;
}
footer h3 {
  margin-top: 35px;
  font-family: "Shrikhand", sans-serif;
  font-size: 22px;
  font-weight: 100;
  color: white;
}
footer a {
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 30px 0 20px 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.466);
}
header img {
  width: 200px;
}

html {
  overflow-x: hidden;
}

.location {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: rgba(194, 193, 193, 0.315);
  padding: 15px;
}
.location i {
  margin-right: 12px;
  font-size: 18px;
}
.location p {
  font-size: 18px;
  font-weight: 500;
}

.banner {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.banner span {
  margin-left: 40px;
}
.banner p {
  font-size: 18px;
  font-weight: 300;
}

.button {
  margin-top: 30px;
  margin-bottom: 80px;
}

.choice_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 30px;
  margin-bottom: 150px;
}
.choice_container h2 {
  display: flex;
  margin-right: 200px;
}

.choice_list {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px 0 12px 0;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.47);
  border-radius: 20px;
  width: 370px;
  cursor: pointer;
}
.choice_list:hover {
  background-color: #ffeefa;
}
.choice_list:hover i {
  color: rgb(147, 86, 220);
}
.choice_list p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -12px;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  background-color: rgb(147, 86, 220);
  color: white;
}
.choice_list i {
  font-size: 20px;
  color: grey;
}

.home_card_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
}
.home_card_container a {
  text-decoration: none;
  color: black;
}
.home_card_container h1 {
  display: flex;
  margin-left: -120px;
}

.home_card {
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.47);
  position: relative;
  border-radius: 15px;
}
.home_card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.home_card i {
  display: flex;
}
.home_card input {
  position: absolute;
  right: 7%;
  width: 20px;
  height: 20px;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
.home_card input:checked ~ .heart_empty {
  transition-duration: 0.5s;
  opacity: 0;
}
.home_card input:checked ~ .heart_full {
  transition-duration: 0.5s;
  opacity: 1;
}
.home_card .heart_full {
  opacity: 0;
  transition-duration: 0.5s;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_over {
  position: absolute;
  color: #278870;
  margin-top: 15px;
  left: 72%;
  background-color: rgb(153, 226, 208);
  padding: 7px 9px 7px 9px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.home_card_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 60px;
  width: 100%;
  position: relative;
  gap: 8px;
  padding-left: 10px;
}
.home_card_text i {
  display: flex;
  justify-content: center;
  font-size: 22px;
  position: absolute;
  left: 86%;
}

.restaurant_name {
  font-weight: 800;
}

.banner {
  display: flex;
  width: 100%;
}
.banner img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

main {
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
