@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

// Color variables

$color-primary: rgb(147, 86, 220);
$color-secondary: rgb(255, 121, 218);
$color-tertiary: rgb(153, 226, 208);
$text-color: white;
$background: #f6f6f6;

// Font variables

$primary-font: 'Roboto' , sans-serif;
$title-font: 'Shrikhand' , sans-serif;

$medium-weight:400;
$title-size:30px;
